[req]
distinguished_name = subject
x509_extensions = x509_ext
prompt = no
[subject]
C = GB
ST = London
L = London
O = Company
OU = Division
CN = localhost
[x509_ext]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost